<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
 <appSettings>
		<!--定位时用：查询多少分钟内上传的记录-->
		<add key="FindTime" value="1"/>

		<!--非法出入时用：多长时间没有检测到记录且不是正常离开时示为非法出入-->
		<add key="WarnTime" value="1"/>

		<!--本栋楼要监测的所有标签号2003,5001,5002,5003-->
		<add key="LabelMacs" value="2001,2002"/>

		<!--本栋楼门口检测进出的基站编号(要有'号)-->
		<add key="ApMac" value="011002"/>

		<!--与门口基站最近的基站(要有'号)-->
		<add key="NearestApMac" value="('010000')"/>

		<!--每隔多少秒检测已拆掉的标签（由基站传入已拆信号）-->
		<add key="DestroyTime" value="5"/>

		<!--多少秒没有输入密码认为非法离开-->
		<add key="DelayTime" value="300"/>

		<!--当基站信号小于多少则认为已经到达基站附近，视为即将出入-->
		<add key="SignalLimit" value="85"/>

		<!--多少秒检测不到信号当非法出入处理-->
		<add key="LawlessOutTime" value="10"/>

		<!--每隔多少秒检测非法出入的标签（由基站是否收到信号判断）-->
		<add key="LawlessTime" value="5"/>

		<!--每隔多少秒检测正常出入或等待出入的标签-->
		<add key="ListenTime" value="2"/>

    <add key="schoolID" value="532E9D47-9050-4153-8640-D927FFCB221B"/>
   <add key="readFolder" value="c:\test"/>
	</appSettings>
	<connectionStrings>
  <add name="ConnStr" connectionString="Data Source=172.30.62.219;Initial Catalog=SecMonitor;User ID=sa;Password=jiaxuan;" providerName="System.Data.SqlClient"/>
  <add name="Monitor.Manager.Properties.Settings.ConnectionString" connectionString="Dsn=liangwei;dbq=C:\Users\TangTang\Desktop\zz.xls;defaultdir=C:\Users\TangTang\Desktop;driverid=790;fil=excel 8.0;maxbuffersize=2048;pagetimeout=5" providerName="System.Data.Odbc"/>
  <add name="Monitor.Manager.Properties.Settings.schoolConnectionString" connectionString="Data Source=.;Initial Catalog=school;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
 </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
